.main-header {
    height: 50;
    width: 100%;
    background: #c2c2c2;
    padding: 20px;
    color: #ffffff;
}

.main-header ul {
    list-style: none;
}
.main-header ul li {
    display: inline;
    padding: 10px;
    color: blue;
    text-transform: uppercase;
}